@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-mira-orange: #FF8C00;
  --color-mira-navy: #001F3F;
  --color-mira-negro: #0A0A0A;
  --color-mira-blue: #0066FF;
  --color-mira-blue-light: #00E5FF;
  --color-mira-blue-electric: #0066FF;
  --color-mira-green: #22c55e;
  --color-mira-yellow: #facc15;
  --color-mira-secondary: #0066FF;
  --color-mira-orange-pastel: #FFF1E6;
  --color-mira-yellow-pastel: #FEFAE0;
  --color-mira-blue-pastel: #E0F2FE;
  --color-mira-green-pastel: #DCFCE7;

  --font-sans: "Plus Jakarta Sans", sans-serif;

  --radius-post: 24px;
  --radius-imperial: 2.5rem;

  --animate-pulse-green: pulse-green 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-spin-slow: spin 8s linear infinite;

  @keyframes pulse-green {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: .5;
      transform: scale(1.2);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}